<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MediPredict - Inicio </title>
  <link rel="stylesheet" href="resources/css/style.css" />
</head>

<body>
    <header class="header">
        <div class="logo">MediPredict</div>
        <button class="mode-toggle" onclick="toggleDarkMode()">Modo Noche</button>
    </header>

    <div class="container">
        <h1>Bienvenido a MediPredict</h1>
        <p>Tu asistente de salud inteligente.</p>
        <form action="/Pacientes">
            <button class="btn" type="submit">Ingresar nuevo Paciente</button>
        </form>
    </div>

    <script src="resources/js/script.js"></script>
</body>
</html>

